  html {
    height: 100%;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  img {
    max-width: 100%;
    height: 35%;
    vertical-align: middle;
    display: inline-block;
  }
  form {
  }


  input {
    width: 70%;
    font-family: Montserrat, sans-serif;
    transition: width 0.4s ease-in-out;
    padding: 10px 0px;
    
  }
  input[type=text]:hover,
  input[type=text]:focus {
    outline: none;
    border: 2px solid black;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 4px;
    width:35%;

    transition-duration: 0.4s;
  }
  input[type=button], input[type=submit]:hover, input[type=reset] {
    border: 2px solid black;
  }





  .w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    height: 64px;
  }

  .navbarsection {
    margin-bottom: 10px;
  }

  .nav-link {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  
  .nav-link-2 {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  .nav-link-3 {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  
  .herosection {
    height: 500px;
    background-color: #fff;
  }
  
  .heroTitle {
    
    margin-top: 20px;
    padding-top: 0px;
    font-family: Montserrat, sans-serif;
    color: #333;
    font-size: 2vw;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    margin-bottom: -15px;
  }
  
  .heroSubtitle {
    display: block;
    width: 500px;
    padding-top: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
  
  .footersection {
    height: 350px;
    margin-top: 1000px;
    background-color: #202024;
  }
  

  .footerName {
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 500;
  }
  
  .div-block-25 {
    width: 70%;
  }
  
  

  .footercol1 {
    margin-left: 150px;
    padding-top: 30px;
  }
  
  .div1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
  }

  .div-block-24 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    
  }

  .w-inline-block {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;

  }

  .row-label {
    width:30%;
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 1vw;
  }

  .row-input {
    width:75%;
    margin-top: 6px;
    font-family: Montserrat, sans-serif;
  }

  @media screen and (max-width: 1000px) {
    .row-input, .row-label, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    



  }

  